<div class="container">
    <div class="row">
        <div class="col text-center">
            <img src="../img/IMG_8588 1.jpg" alt="fachmi ramadhan" class="img-thumbnail rounded-circle" width="200">
            <h1 class="display-4">fachmi ramadhan</h1>
            <p class="lead">Programmer | Traveller</p>
        </div>
    </div>
</div>
